<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <!-- grid -->
<div class="container mt-5" id="grid">
    <div class="row">
    <div class="col-3" id="gc"></div>
    <div class="col-6" id="gc">
    <!--contact form -->
    <h6 class="text-danger">DO CONTACT US!!!</h6>
    <form action="...">
    <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control w-75" type="text" id="name" />
    </div>
    <div class="form-group w-75">
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email" />
    </div>
    <div class="form-group w-75">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" rows="3">
    </textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <!--contact form -->
    </div>
    <div class="col-3" id="gc">
    <div class="row pt-3">
    <h6 class="text-danger">Email Id-Contact No</h6>
   myportfolio@gmail.com
    <br>
    Contact: 4105296900
    </div>
    </div>
    </div>
    </div>
      <!-- footer -->
      <footer
      class="bg-dark text-center text-white"
      style="position: absolute; bottom: 0; width: 100%"
    >
      <!-- Copyright -->
      <div class="text-center p-4 bg-black">
        &#xa9; Copyright myPortfolio:2022
      </div>
    </footer>
</body>
</html>
